@page "/Tecnico/Edit/{tecnicoId:int}"
@inject TecnicoServices tecnicosService
@inject TiposTecnicoServices tipoTecnicoService
@rendermode InteractiveServer

<EditForm Model="Tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h3> <i class="fas fa-clipboard-list"></i> Editar Tecnico</h3>
        </div>

        <div class="card-body">

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="TecnicoId" class="form-label">TecnicoId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="Tecnico.TecnicoId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="Nombres" class="form-label">Nombres:</label>
                <InputText @bind-Value="Tecnico.Nombres" class="form-control" />
                <ValidationMessage For="@(() => Tecnico.Nombres)" />
            </div>

            <div class="mb-3">
                <label for="TipoTecnicoId" class="form-label">Tipo de Técnico:</label>
                <InputSelect @bind-Value="Tecnico.TipoTecnicoId" class="form-select">
                    <option value="" disabled>Seleccione un tipo</option>
                    @foreach (var tipo in Lista_TipoTecnicos)
                    {
                        <option value="@tipo.TipoTecnicoId">@tipo.Descripcion</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Tecnico.TipoTecnicoId)" />
            </div>

            <div class="mb-3">
                <label for="SueldoHora" class="form-label">Sueldo hora:</label>
                <InputNumber @bind-Value="Tecnico.SueldoHora" class="form-control" />
                <ValidationMessage For="@(() => Tecnico.SueldoHora)" />
            </div>

        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Tecnico/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Retroceder </a>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int? tecnicoId { get; set; }
    public Tecnicos Tecnico { get; set; } = new Tecnicos();
    public int? tipoTecnicoId { get; set; }
    public List<TiposTecnicos> Lista_TipoTecnicos { get; set; } = new List<TiposTecnicos>();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        Lista_TipoTecnicos = await tipoTecnicoService.ObtenerTipoTecnicos();

        if (tecnicoId.HasValue)
        {
            Tecnico = await tecnicosService.Buscar(tecnicoId.Value);

            if (Tecnico == null)
            {
                Tecnico = new Tecnicos();
            }
        }
    }

    public async Task Buscar()
    {
        Existe = false;
        var TecnicoE = await tecnicosService.Buscar(Tecnico.TecnicoId);

        if (TecnicoE != null)
        {
            Tecnico = TecnicoE;
        }
        else
        {
            Nuevo();
        }
    }

    public void Nuevo()
    {
        Tecnico = new Tecnicos();
        Existe = false;
    }

    public async Task Guardar()
    {
        var guardo = await tecnicosService.Guardar(Tecnico);
        if (guardo)
        {
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicosService.Eliminar(Tecnico.TecnicoId);
        Nuevo();
    }
}
