@page "/Cotizaciones/Details"
@page "/Cotizaciones/Details/{CotizacionId:int}"
@inject TrabajoServices trabajoService
@inject CotizacionServices cotizacionService
@inject ClienteServices clienteService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles de la cotizacion</PageTitle>

@if (cotizaciones != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles de la cotizaci&oacute;n</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>CotizacionId:</strong> @cotizaciones.CotizacionId</li>
                                <li><strong>Fecha:</strong> @cotizaciones.Fecha</li>
                                <li><strong>ClienteId:</strong> @cotizaciones.ClienteId</li>
                                <li><strong>Observacion:</strong> @cotizaciones.Observacion</li>
                                @foreach (var detalle in Lista_CotizacionesDetalles)
                                {
                                    <li><strong>Articulo: </strong>@detalle.Articulos.Descripcion</li>
                                    }
                                <li><strong>Monto total:</strong> @cotizaciones.Monto</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>No se halló el trabajo.</p>
}

@code {
    [Parameter]
    public int CotizacionId { get; set; }
    public Cotizaciones? cotizaciones { get; set; } = new Cotizaciones();
    public Trabajos? Trabajos { get; set; } = new Trabajos();
    public Clientes? Cliente { get; set; } = new Clientes();
    public List<CotizacionesDetalle> Lista_CotizacionesDetalles { get; set; } = new List<CotizacionesDetalle>();

    protected override async Task OnInitializedAsync()
    {
        cotizaciones = await cotizacionService.Buscar(CotizacionId);
        //Cliente = await clienteService.Buscar(Trabajo.ClienteId);
        Lista_CotizacionesDetalles = await cotizacionService.BuscarTrabajoDetalle(CotizacionId);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Cotizaciones/Index");
    }
}
