@page "/Cotizaciones/Index"
@inject TrabajoServices trabajoService
@inject CotizacionServices cotizacionService
@rendermode InteractiveServer

<EditForm Model="ListaCotizaciones" class="border shadow-lg p-3 rounded">

    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta de cotizaciones</h3>
    </div>
    <div class="card-body">

        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="clienteId">ClienteId</option>
                    <option value="observacion">Observaci&oacute;n</option>
                    <option value="monto">Monto</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a href="/Cotizaciones/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>CotizacionId</th>
                <th>ClienteId</th>
                <th>Fecha</th>
                <th>Observaci&oacute;n</th>
                <th>Monto</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cotizacion in ListaCotizaciones)
            {
                <tr>
                    <td>@cotizacion.CotizacionId</td>
                    <td>@cotizacion.ClienteId</td>
                    <td>@cotizacion.Fecha</td>
                    <td>@cotizacion.Observacion</td>
                    <td>@cotizacion.Monto</td>
                    <td>
                        <a class="btn btn-outline-primary" href="/Cotizaciones/Details/@cotizacion.CotizacionId">
                            <span class="bi bi-info-circle-fill"></span>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-outline-success" href="/Cotizaciones/Edit/@cotizacion.CotizacionId">
                            <span class="bi bi-marker-tip"></span>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-outline-warning" href="/Cotizaciones/Delete/@cotizacion.CotizacionId">
                            <span class="bi bi-dash-circle-fill"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>


@code {

    public Cotizaciones Cotizacion = new Cotizaciones();

    public List<Cotizaciones> ListaCotizaciones = new List<Cotizaciones>();

    private string filtro { get; set; } = "Id";
    private string valorFiltro { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        ListaCotizaciones = await cotizacionService.Listar(t => true);
    }

    public async Task Guardar()
    {
        var guardo = await cotizacionService.Guardar(Cotizacion);
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int CotizacionId))
            {
                ListaCotizaciones = await cotizacionService.Listar(t => t.CotizacionId == CotizacionId);
            }
            else if (filtro == "observacion")
            {
                ListaCotizaciones = await cotizacionService.Listar(t => t.Observacion == valorFiltro);
            }
            else if (filtro == "clienteId" && int.TryParse(valorFiltro, out int ClienteId))
            {
                ListaCotizaciones = await cotizacionService.Listar(t => t.ClienteId == ClienteId);
            }
            else if (filtro == "monto" && int.TryParse(valorFiltro, out int Monto))
            {
                ListaCotizaciones = await cotizacionService.Listar(t => t.Monto == Monto);
            }
        }
        else
        {
            ListaCotizaciones = await cotizacionService.Listar(t => true);
        }
    }


}
